<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    {% if page.title != "Home" %}
        <a href="/">
            <img class="home-btn" alt="home" src="/assets/images/emblem.png">
        </a>
    {% endif %}

    <ul class="list">
        <li class="item">
            <a class="link" href="/blog">Blog</a>
        </li>

        <li class="item">
            <a class="link" href="/tags">Tags</a>
        </li>

        <li class="item">
            <a class="link" href="/about">About</a>
        </li>
    </ul>
</nav>
